@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Francisco fernandes dos Santos 201 / 201<br />
    Belo Horizonte, MG 30575-290<br />
    <abbr title="Phone">P:</abbr>
    31-88944007
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:suporte@rico3d.com.br">suporte@rico3d.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:rico3d@rico3d.com.br">rico3d@rico3d.com.br</a>
</address>