
@{
    ViewBag.Title = "Rico3d Projetos e Soluções";
}

<div class="jumbotron">
    <h1>Rico3d Projetos e Soluções</h1>
    <p class="lead">Automação de projetos.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Implantação</h2>
        <p>
            Colocamos em funcionamento a modelagem tridimensional inteligente de softwares de projeto.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Biblioteca de Soluções</h2>
        <p>Encontre aqui a sua solução pronta.</p>
        <p><a class="btn btn-default" href= "@Url.Action("ListaProdutos","Vitrine")">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Treinamento</h2>
        <p>A equipe pode aprender de um modo fácil e prático como utilizar as novas tecnologias de projeto.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais &raquo;</a></p>
    </div>
</div>

